.rst-versions, .wy-side-scroll, .wy-nav-side, .wy-menu-vertical {
	width: 440px;
}

.wy-side-scroll {
	background-color: #fcfcfc;
	padding: 2px;
	overflow-y: auto;
}

@media screen and (max-width: 768px) {
	.wy-side-scroll {
		width: auto;
	}
	.wy-nav-side {
		left: -440px;
	}
}

.wy-nav-content {
	max-width: 100%;
}

.wy-nav-content-wrap {
	margin-left: 440px;
	max-width: 1080px;
    background: #fcfcfc;
}

@media screen and (max-width: 768px) {
	.wy-nav-content-wrap {
		margin-left: 0;
	}
}

.wy-side-nav-search {
	width: 100%;
	background: #fcfcfc;
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    display: block;
}

.wy-menu-vertical li.current {
    background: none;
}

.wy-menu-vertical li.toctree-l4 {
	font-size: inherit;
}

.wy-menu-vertical li.toctree-l2 > a,
.wy-menu-vertical li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l4 > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
	background: none;
    font-size: inherit;
}

.wy-menu-vertical a:hover, 
.wy-menu-vertical li.current a:hover {
    background: #edf0f2;
}

.wy-menu-vertical li.toctree-l2 span.toctree-expand, 
.wy-menu-vertical a, 
.wy-menu-vertical a:hover span.toctree-expand {
    color: #404040;
}

.wy-menu-vertical a:active {
    background-color: #44c0f0;
    color: #fff;
}

.wy-side-nav-search input[type=text] {
    border-radius: 4px;
    border-color: none;
}

.rst-versions.shift-up {
    overflow-y: auto;
}

.wy-menu-vertical li.toctree-l2.current > a {
	background: #f4f6f8;
}